.rowContainer{
    @apply flex justify-center 
}
.menuContainer{
    @apply absolute px-1 py-2 flex justify-between items-center  w-1/3 top-10 rounded-md ;
    border: 1px solid theme('colors.border1');
    box-shadow: theme('colors.shadow1');
    background-color: theme('colors.background1');

    .iconWrapper{
        @apply flex justify-center items-center cursor-pointer h-8 w-10 rounded-md;
        &:hover{
            background-color: theme('colors.text2');
         }
         .icon{
            color: theme('colors.text1');
            size: 20px;
         }
    }

}